<%- include('../includes/head.ejs') %>
</head>
<link rel="stylesheet" href="/css/auth.css">

<body>
    <%- include('../includes/nevbar.ejs') %>
    <%- include('../includes/appbar.ejs') %>
    <main>
        <div class="sing-up">
            <h1 class="title">Login</h1>
            <br>
            <form action="/login" method="post">
                <div class="email">
                    <label for="e-mail">E-mail
                        <% if(error.email){%>
                        <span class="error-message">*<%=error.email%></span>
                        <%}%>
                </label>
                    
                    <input class="<%=error.email?'error-input':''%>" type="email" id="e-mail" name="eMail" value="<%=oldInput.email%>"
                        placeholder="jenilgoti@gmail.com" required>
                </div>
                <div class="password">
                    <label for="password">Password
                        <% if(error.password){%>
                        <span class="error-message">*<%=error.password%></span>
                        <%}%>
                    </label>
                    
                    <input class="<%=error.password?'error-input':''%>" type="password" id="password" name="password" value="<%=oldInput.password%>" required>
                    <a href="#">Forgot password?</a>
                </div>
                <div class="link">
                    <p>Already have an account? <strong><a href="/singup">Sign Up</a></strong></p>
                </div>
                <button type="submit" class="btn sing-up-submit">Login</button>
            </form>
        </div>
    </main>
    <%- include('../includes/end.ejs') %>