<%- include('../includes/head.ejs') %>
</head>
<link rel="stylesheet" href="/css/auth.css">

<body>
    <%- include('../includes/nevbar.ejs') %>
    <%- include('../includes/appbar.ejs') %>
    <main>
        <div class="sing-up">
            <h1 class="title">Reset Password</h1>
            <br>
            <form action="/new-password" method="post">
                <input type="hidden" name="userId" value="<%=userId%>">
                <input type="hidden" name="passwordTokan" value="<%=passwordTokan%>">
                <div class="password">
                    <label for="password">New Password</label>
                    <input type="password" id="password" name="password" required>
                </div>
                <div class="confirm-password">
                    <label for="confirm-password">Confirm New Password</label>
                    <input type="password" id="confirm-password" name="cinformPassword" required>
                </div>
                <br>
                <button type="submit" class="btn sing-up-submit">Reset Password</button>

            </form>
            <script src="/js/singup.js"></script>
        </div>
    </main>
    <%- include('../includes/end.ejs') %>