<%- include('../includes/head.ejs') %>
</head>
<link rel="stylesheet" href="/css/auth.css">

<body>
    <%- include('../includes/nevbar.ejs') %>
    <%- include('../includes/appbar.ejs') %>
    <main>
        <div class="sing-up">
            <h1 class="title">Forgot Password</h1>
            <br>
            <form action="/reset-password" method="post">
                <div class="email">
                    <label for="e-mail">E-mail
                        <% if(error.email){%>
                        <span class="error-message">*<%=error.email%></span>
                        <%}%>
                </label>
                    <input class="<%=error.email?'error-input':''%>" type="email" id="e-mail" name="email"
                        placeholder="jenilgoti@gmail.com" required>
                </div>
                <br>
                <button type="submit" class="btn sing-up-submit">Reset Password</button>
            </form>
        </div>
    </main>
    <%- include('../includes/end.ejs') %>