<%- include('../includes/head.ejs') %>
</head>
<link rel="stylesheet" href="/css/auth.css">

<body>
    <%- include('../includes/nevbar.ejs') %>
    <%- include('../includes/appbar.ejs') %>
    <main>
        <div class="sing-up">
            <h1 class="title">Registration</h1>
            <br>
            <form action="/singup" method="post">
                <label for="user-type">I am</label>
                <div class="user-type">
                    <label for="Individual" class="selected individual">Individual</label>
                    <label for="Agent" class="agent">Agent</label>
                    <input type="hidden" class="user-type-value" name="userType" value="Individual">
                </div>
                <div class="user_name">
                    <label for="user_name">Name
                        <% if(error.firstName||error.lastName){%>
                        <span class="error-message">*<%=error.firstName%> <%=error.lastName%></span>
                        <%}%>
                    </label>
                    
                    <input class="<%=error.firstName?'error-input':''%>" type="text" id="user_name" name="firstName"
                        value="<%=oldInput.firstName%>" placeholder="First Name" required>
                        <input class="<%=error.lastName?'error-input':''%>" type="text" id="user_name_" name="lastName"
                            value="<%=oldInput.lastName%>" placeholder="Last Name" required>
                </div>
                <div class="email">
                    <label for="e-mail">E-mail
                        <% if(error.email){%>
                        <span class="error-message">*<%=error.email%></span>
                        <%}%>
                    </label>
                    
                    <input  class="<%=error.email?'error-input':''%>" type="email" id="e-mail" name="eMail"
                        value="<%=oldInput.email%>" placeholder="jenilgoti@gmail.com" required>
                </div>
                <div class="password">
                    <label for="password">Password
                        <% if(error.password){%>
                        <span class="error-message">*<%=error.password%></span>
                        <%}%>
                    </label>
                    
                    <input class="<%=error.password?'error-input':''%>" type="password" id="password" name="password"
                        required>
                </div>
                <div class="confirm-password">
                    <label for="confirm-password">Confirm Password</label>
                    <input type="password" id="confirm-password" name="cinformPassword" required>
                </div>
                <div class="link">
                    <p>Already have an account? <strong><a href="/login">Log In</a></strong></p>
                </div>
                <button type="submit" class="btn sing-up-submit">sing-up</button>

            </form>
            <script src="/js/singup.js"></script>
        </div>
    </main>
    <%- include('../includes/end.ejs') %>