<%- include('../includes/head.ejs') %>
<script src="/socket.io/socket.io.js" defer></script>
<script src="https://unpkg.com/peerjs@1.4.7/dist/peerjs.min.js" defer></script>
<link rel="stylesheet" href="/css/conversation/visit-page.css">
<script>
    const PORT = '<%=port%>';
    const ROOM_ID = "<%= RoomId %>";
    const MESSAGE_ID = "<%=message._id%>";
</script>
</head>

<body>
    <%- include('../includes/nevbar.ejs') %>
    <%- include('../includes/appbar.ejs') %>
    <main>
        <div id="video-grid">
            <div class="comment">
                <h3>Waiting for connecting user</h3>
                <button id="notify" class="btn1" style="padding: 0 1rem;">Notify User</button>
            </div>
            <div class="hendal-btn">
                <button id="video-ctr">
                    <span class="material-symbols-outlined">
                        videocam
                    </span>
                </button>
                <button id="audio-ctr">
                    <span class="material-symbols-outlined">
                        mic
                    </span>
                </button>
                <button id="leav-call" onclick="history.back()">
                    <span class="material-symbols-outlined">
                        call_end
                    </span>
                </button>
                <button id="switch-cam">
                    <span class="material-symbols-outlined">
                        cameraswitch
                    </span>
                </button>
                <button id="fullscreen">
                    <span class="material-symbols-outlined">
                        fullscreen
                    </span>
                </button>
            </div>
        </div>
    </main>
    <script src="/js/conversation/visit-page.js" defer></script>
    <%- include('../includes/end.ejs') %>