<div class="mobile-header">
    <div class="nevbar-background">
    </div>
    <div class="floating-action-button">
        <span class="material-symbols-outlined icon">
            widgets
        </span>
    </div>
</div>


<div class="main-header">
    <nav class="main-header__nav">
        <ul class="main-header__item-list">
            <%- include('./nevbar-itom.ejs',{url:'/',icon:'Home',title:'Home'}) %>
            <%- include('./nevbar-itom.ejs',{url:'/buy/buy',icon:'real_estate_agent',title:'Buy'}) %>
            <%- include('./nevbar-itom.ejs',{url:'/rent/rent',icon:'location_away',title:'rent'}) %>
            <%- include('./nevbar-itom.ejs',{url:'/map',icon:'map',title:'Map'}) %>
            <% if(isAuthenticated){%>
            <%- include('./nevbar-itom.ejs',{url:'/admin/bookmark',icon:'bookmark',title:'bookmarks'}) %>
            <%- include('./nevbar-itom.ejs',{url:'/conversations',icon:'support_agent',title:'Conversations'}) %>
            <%- include('./nevbar-itom.ejs',{url:'/admin/',icon:'add_home_work',title:'Add Propertys'}) %>
            <% }%>
            <%- include('./nevbar-itom.ejs',{url:'/about',icon:'info',title:'About'}) %>
        </ul>
        <ul class="main-header__item-list">
            <% if(!isAuthenticated){%>
            <%- include('./nevbar-itom.ejs',{url:'/login',icon:'Login',title:'login'}) %>
            <%- include('./nevbar-itom.ejs',{url:'/singup',icon:'person_add',title:'Singup'}) %>
            <% } else {%>
            <li class="main-header__item <%- path==='/logout'?'active':''%>">
                <form action="/logout" method="post">
                    <button type="submit">
                        <table>
                            <tr>
                                <td class="manu-icon">
                                    <span class="material-symbols-outlined">
                                        logout
                                    </span>
                                </td>
                                <td class="manu-title">
                                    logout
                                </td>
                            </tr>
                        </table>
                    </button>
                </form>

            </li>
            <% }%>
        </ul>

    </nav>
</div>
<script src="/js/nevigetor.js"></script>