<div class="mobile-header">
    <div class="nevbar-background">
    </div>
    <div class="floating-action-button">
        <span class="material-symbols-outlined icon">
            widgets
        </span>
    </div>
</div>


<div class="main-header">
    <nav class="main-header__nav">
        <ul class="main-header__item-list">
            <%- include('./nevbar-itom.ejs',{url:'/',icon:'Home',title:'Home'}) %>
            <%- include('./nevbar-itom.ejs',{url:'/a',icon:'real_estate_agent',title:'Buy'}) %>
            <%- include('./nevbar-itom.ejs',{url:'/e',icon:'location_away',title:'rent'}) %>
            <%- include('./nevbar-itom.ejs',{url:'/b',icon:'support_agent',title:'find REALTORS'}) %>
            <%- include('./nevbar-itom.ejs',{url:'/c',icon:'add_home_work',title:'Add to Sell/Rent'}) %>
            <%- include('./nevbar-itom.ejs',{url:'/about',icon:'info',title:'About'}) %>
        </ul>
        <ul class="main-header__item-list">
            <%- include('./nevbar-itom.ejs',{url:'/login',icon:'Login',title:'login'}) %>
            <%- include('./nevbar-itom.ejs',{url:'/singup',icon:'person_add',title:'Singup'}) %>
        </ul>

    </nav>
</div>
<script src="/js/nevigetor.js"></script>