<div class="user-dropdown">
    <% if(isAuthenticated&&user.user_thumbnail.small!="/user-s-thumbnail.png") {%>
    <img class="user-avtar" src="<%=user.user_thumbnail.small%>" alt="user-image">
    <%}else{%>
    <span class="material-symbols-outlined user-avtar">
        account_circle
    </span>
    <%}%>
    
    <div class="user-dropdown-content">
        <% if(isAuthenticated) {%>
    <img class="circal-avatar user-thumb dropdown-itom" src="<%=user.user_thumbnail.middium%>" alt="user-image">
    <h2 class="dropdown-itom"><%=user.firstName%> <%=user.lastName%></h2>
    <%}%>
        <h5 class="dropdown-itom"><%=user.user_email.email%>
    <% if(!user.user_email.verification_status) {%>
    <a class="dropdown-itom" href="/verification/email"> <strong>(verify email)</strong></a>
    <%}%></h5> 
        <hr>
        <br>
        <a href="/profile/<%=user._id%>" class="outline-btn manage-btn">Manage Profile</a>
</div>

</div>