<%- include('./includes/head.ejs') %>

<script src='https://api.mapbox.com/mapbox-gl-js/v1.8.0/mapbox-gl.js'></script>
<link href='https://api.mapbox.com/mapbox-gl-js/v1.8.0/mapbox-gl.css' rel='stylesheet' />

<script src='https://tiles.locationiq.com/v3/js/liq-styles-ctrl-gl.js?v=0.1.8'></script>
<link href='https://tiles.locationiq.com/v3/css/liq-styles-ctrl-gl.css?v=0.1.8' rel='stylesheet' />

<link rel="stylesheet" href="/css/property/property.css">

</head>

<body>
    <%- include('./includes/nevbar.ejs') %>
    <%- include('./includes/appbar.ejs') %>
    <main>
        <div class="container">
            <h1><%=property.basicDetail.noOfBhkOrRk%> <%=property.basicDetail.bhkOrRk%>
                <%=property.basicDetail.propertyType%> for <%=property.actionType%></h1>
            <h2>at <%=property.basicDetail.city%>, <%=property.basicDetail.state%>, <%=property.basicDetail.contry%>
            </h2>
            


        </div>
    </main>
    <%- include('./includes/end.ejs') %>