<%- include('./includes/head.ejs') %>

<script src='https://api.mapbox.com/mapbox-gl-js/v1.8.0/mapbox-gl.js'></script>
<link href='https://api.mapbox.com/mapbox-gl-js/v1.8.0/mapbox-gl.css' rel='stylesheet' />

<script src='https://tiles.locationiq.com/v3/js/liq-styles-ctrl-gl.js?v=0.1.8'></script>
<link href='https://tiles.locationiq.com/v3/css/liq-styles-ctrl-gl.css?v=0.1.8' rel='stylesheet' />

<link rel="stylesheet" href="/css/property/property.css">

</head>

<body>
    <%- include('./includes/nevbar.ejs') %>
    <%- include('./includes/appbar.ejs') %>
    <main>
        <input id="is-own" type="hidden" value="<%=isOwner%>">
        <input id="is-auth" type="hidden" value="<%=isAuthenticated%>">
        <input id="prop-id" type="hidden" value="<%=property._id%>">
        <div class="container">
            <%if(isAuthenticated){%>
            <button class="bookmark">
                <h1><span class="material-symbols-outlined" style="font-size: xx-large;">bookmark</span></h1>
            </button>
            <%}%>
            <div class="main-heading">
                <h1><%=property.basicDetail.noOfBhkOrRk%> <%=property.basicDetail.bhkOrRk%>
            <%=property.basicDetail.propertyType%> for <%=property.actionType%></h1>
            <h2>at <%=property.basicDetail.locality%>, <%=property.basicDetail.city%>,
                <%=property.basicDetail.state%>,
                <%=property.basicDetail.contry%></h2>
        </div>
        <div class="body">
            <div class="image">
                <div id="myModel" class="slideshow-container">
                    <span class="close cursor" onclick="closeModal()">&times;</span>
                    <div class="modal-content">
                        <%for(var i=0;i<property.photos.length;i++){%>
                        <div class="mySlides fade">
                            <div class="numbertext"><%=i+1%> / <%=property.photos.length%></div>
                            <img src="<%=property.photos[i].imageUrl%>" onclick="openModal();"
                                class="hover-shadow cursor">
                        </div>
                        <%}%>
                            <a class="prev" onclick="plusSlides(-1)">❮</a>
                            <a class="next" onclick="plusSlides(1)">❯</a>
                        </div>
                    </div>
                    <br>
                    <div style="text-align:center">
                        <%for(var i=0;i<property.photos.length;i++){%>
                        <span class="dot" onclick="currentSlide('<%=i+1%>')"></span>
                        <%}%>
                    </div>
                    <div class="area-price">
                            <h2><%=property.priceArea.coveredArea%> Sq-Ft</h2>
                        <h2>₹ <%=property.priceArea.price%></h2>
                    </div>
                    <div class="img-footer">
                        <div class="user">
                            <a href="/profile/<%=property.userId._id%>">
                                <img src="<%=property.userId.user_thumbnail.small%>" alt="">
                                <h4><%=property.userId.firstName%> <%=property.userId.lastName%></h4>
                            </a>
                        </div>
                        <div class="btns">
                            <%if(isAuthenticated){%>
                            <button class="btn favorite">
                                <span class="material-symbols-outlined">favorite</span>
                            </button>
                            <a href="#q&a">
                                <button class="btn comment">
                                    <span class="material-symbols-outlined">comment</span>
                                </button></a>
                            <%}%>
                            <button class="btn send">
                                <span class="material-symbols-outlined">send</span>
                            </button>
                        </div>
                        </div>
                    </div>
                    <div class="details">
                        <h3 class="sub-heding">address</h3>
                        <h4 class="value"><a
                                href="http://google.com/maps/?q=<%=property.basicDetail.coordinates.latitude%>,<%=property.basicDetail.coordinates.longitude%>">
                            <span class="material-symbols-outlined">
                                pin_drop
                            </span></a> <%=property.basicDetail.society%>, <%=property.basicDetail.locality%>,
                            <%=property.basicDetail.city%>,
                            <%=property.basicDetail.state%>,
                            <%=property.basicDetail.contry%></h4>
                            <h3 class="sub-heding">overview</h3>
                            <h4 class="value"><%=property.otherDetail.briefDescription%></h4>
                            <h3 class="sub-heding">transactional Type</h3>
                            <h4 class="value"><%=property.additionalDetail.transactionalType%></h4>
                            <h3 class="sub-heding">Ownership</h3>
                            <h4 class="value"><%=property.additionalDetail.propertyOwnership%></h4>
                            <h3 class="sub-heding">Availabity</h3>
                            <h4 class="value">from
                                <%=property.additionalDetail.propertyAvailabity.toLocaleDateString("en-US",{ year: 'numeric', month: 'long', day: 'numeric' })%>
                            </h4>
                            <h3 class="sub-heding">Key Features</h3>
                            <table class="value">
                                <tr>
                                    <td><strong>covered area: </strong><%=property.priceArea.coveredArea%> Sq-Ft</td>
                                    <td><strong>plot area: </strong><%=property.priceArea.plotArea%> Sq-Ft</td>
                                </tr>
                                <tr>
                                    <td><%=property.additionalDetail.furnished%></td>
                                    <td><%=property.additionalDetail.ageOfProperty%> year old</td>
                                </tr>
                                <tr>
                                    <td><%=property.additionalDetail.furnished%></td>
                                    <td><%=property.additionalDetail.facing%> facing</td>
                                </tr>
                                <tr>
                                    <td><%=property.additionalDetail.floorNo%> floor</td>
                                    <td><%=property.additionalDetail.totalFloors%> total Floors</td>
                                </tr>
                                <%if(property.priceArea.priceNegotiable){%>
                                <tr>
                                    <td>price Negotiable</td>
                                    <td></td>
                                </tr>

                                <%}%>                
            </table>
                    <%if(property.likes.length>0){%>
                                <h3 id="likes" class="sub-heding">liked by</h3>
                                <div class="likes">
                                    <%for(var i=0;i<property.likes.length&&i<=5;i++){%>
                                    <%if(i==5){%>
                                    <a href="#">
                                        <h4>, <%=property.likes.length-5%> more...</h4>
                                    </a>
                                    <%}else{%>
                                    <a href="/profile/<%=property.likes[i]._id%>">
                                        <img src="<%=property.likes[i].user_thumbnail.small%>" alt="">
                                        <h4><%=property.likes[i].firstName%> <%=property.likes[i].lastName%></h4>
                                    </a>

                                    <%}}}%>

                                </div>
                                <%if(property.queAns.length>0){%>
                                <h3 id="question-and-answer" class="sub-heding">Question And Answer</h3>
                                <%}%>
                                <div id="q&a" class="question-and-answer">
                                    <%for(var i=0;i<property.queAns.length;i++){%>
                                <div id="<%=property.queAns[i]._id%>" class="q-a-container value">
                                    <div class="user">
                                        <a href="/profile/<%=property.queAns[i].userId._id%>">
                                            <img src="<%=property.queAns[i].userId.user_thumbnail.small%>" alt="">
                                            <h6><%=property.queAns[i].userId.firstName%></h6>
                                        </a>
                                    </div>
                                    <div class="q-a">
                                        <div class="question">
                                            <h4><span><strong>Q.</strong> </span><%=property.queAns[i].question%>
                                            </h4>
                                        </div>
                                        <div class="answer">
                                            <%if(isOwner&&!property.queAns[i].answer){%>
                                            <div class="ask-question">
                                                <input id="ans-<%=property.queAns[i]._id%>" type="text" name="answer"
                                                    placeholder="Answer to the question" required>
                                                <button class="btn1"
                                                    onclick="Answer('<%=property.queAns[i]._id%>')">Answer</button>
                                            </div>
                                            <%}else{%>
                                            <h5><span><strong>A.</strong>

                                                </span><%=property.queAns[i].answer||'waiting for the answer'%></h5>
                                            <%}%>
                                                
                                        </div>
                                    </div>

                                </div>
                                <%}if(!isOwner&&isAuthenticated){%>
                                            <div id="que" class="ask-question">
                                                <input id="question" type="text" name="question"
                                                    placeholder="Ask question hear" required>
                                                <button id="question-submit-btn" class="btn1">Ask Question</button>
                                            </div>
                                            <%}%>
                                </div>
                        </div>
                    </div>



                </div>
    </main>
    <script src="/js/property/property.js"></script>
    <%- include('./includes/end.ejs') %>