<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/profile.css">
<link rel="stylesheet" href="/css/index/card.css">
<script src="/js/property.js"></script>
</head>

<body>
    <%- include('../includes/nevbar.ejs') %>
    <%- include('../includes/appbar.ejs') %>
    <main>
        <input type="hidden" id="profId" value="<%=profUser._id%>">
        <div class="profile <%=master?'':'no-master'%>">
            <h1 class="title">Profile</h1>
            <div class="profile-content">
                <div class="user-image-container">
                    <img class="user-image circal-avatar" src="<%=profUser.user_thumbnail.large %>" alt="">
                    <%if(master){%>
                    <a href="/edit-user-photo">
                        <span class="material-symbols-outlined">
                            edit
                        </span>
                    </a>
                    <%}%>
                </div>
                <div class="divider"></div>
                <div class="user-info">
                    <label class="main-heading">
                    <%if(profUser.user_type=="Agent"){%>
                    <span class="material-symbols-outlined">support_agent</span>
                    <%}%><%=profUser.firstName %> <%=profUser.lastName %>
                    </label>
                    <table class="user-detail">
                        <tr>
                            <td class="heding">
                                <strong>Email: </strong>
                            </td>

                            <td class="detail"> <a
                                    href="mailto:<%=profUser.user_email.email %>"><%=profUser.user_email.email %></a>
                            </td>

                            <td class="status"><a
                                    href="/verification/email"><%=profUser.user_email.verification_status?'Edit':'Verify'%></a>
                            </td>
                        </tr>
                        <%if(master||profUser.user_phone_no.number!=null){%>

                        <tr>
                            <td class="heding">
                                <strong>Phon No: </strong>
                            </td>
                            <td class="detail"><a href="tel:<%=profUser.user_phone_no.number %>">
                                    <%=profUser.user_phone_no.number %> </a></td>

                            <td class="status"><a
                                    href="/edit-phone-no"><%=profUser.user_phone_no.number==null?'Add':'Edit'%></a>
                            </td>
                        </tr>
                        <%}%>
                        <%if(master||profUser.user_address!='{}'){%>

                        <tr>
                            <td class="heding">
                                <strong>Address: </strong>
                            </td>
                            <td class="detail">
                                <%if(profUser.user_address!='{}'){%>
                                <%=profUser.user_address.apprtmentSuite%>,<%=profUser.user_address.stritAddress%>,
                                <%=profUser.user_address.city%>, <%=profUser.user_address.state%>,
                                <%=profUser.user_address.contry%> </td>
                            <%}%>

                            <td class="status"><a
                                    href="/address"><%=profUser.user_address=='{}'?'Add':'Edit'%></a>
                            </td>
                        </tr>
                        <%}%>


                    </table>
                </div>
            </div>
            <div class="share-btn">
                <button onclick="share()"><span style="font-size: x-large;"
                    class="material-symbols-outlined"> share </span></button>
            </div>
            </div>
            <%if(profUser.propertys.length>0){%>
                        <div class="title1">
                            <h2>Propertys</h2>
                        </div>
                        <%}%>
            <div class="userProp">

            </div>
            <div style="display: flex; justify-content: center; margin-bottom: 5rem;">
                <div class="loader"></div>
            </div>


    </main>
    <script src="/js/profile.js"></script>
    <%- include('../includes/end.ejs') %>